<h1>Log in</h1>
<div class="login">
  <div class="login__signup">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= submit_tag "[ log in ]", class: "submit__link" %>
    </div>
  <% end %>
    <div class="devise__links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="welcome">
  <h2> Welcome to Spinzilla Track-o-matic.</h2>
    <p>If you are a new user, please head over to the <%= link_to 'Signup Page', '/users/sign_up' %> to start tracking your Spinzilla yardage!</p>
</div>
