<div class="header">
  <% if current_user %>
  <%= link_to icon('home'), root_path, class: 'home__link'%>
    Welcome to Spinzilla Track-o-matic,
    <%= link_to current_user.username, edit_user_registration_path %> |
    <% if current_user.admin? %>
    <%= link_to '[ admin dashboard ]', '/admin' %> | 
    <% end %>
    <%= link_to '[ logout ]', '/users/sign_out' %>
  <% else %>
    <%= link_to '[ login ]', '/users/sign_in' %> | <%= link_to '[ signup ]', 'sign_up' %>
  <% end %>
</div>
